{% extends "base.html" %}

{% block tiitle %}
    <title>Quiz-App</title>
{% endblock %}

{% block body %}
    <div class="main">
        <form action="/admin_dashboard/add_user" method="post">
            <input type="text" name="username" placeholder="enter username">
            <input type="text" name="firstName"  placeholder="enter first name">
            <input type="text" name="lastName" placeholder="enter last name">
            <input type="password" name="password" placeholder="enter password">
            <button type="submit" name="action" value="btn1">Add User</button>
        </form>
    </div>
{% endblock %}