{% extends 'base2.html' %}

{% block title %}
    <title>Quiz-App/Admin-Dashboard</title>
{% endblock %}

{% block body %}
    <div class="main">
        <form action="/admin_dashboard" method="post">
            <div class="header">
                <button type="submit" name="action" value="btn1">Add Admin</button>
                <button type="submit" name="action" value="btn2">Add User</button>
            </div>
            <div class="side-bar">
                <button type="submit" name="action" value="btn3">View Quizzes</button>
                <button type="submit" name="action" value="btn4">View Users</button>
            </div>
        </form>   
    </div>
{% endblock %}